@font-face {
    font-family: bluejays;
    src: url('fonts/MLBBJV__.TTF') format('truetype');
}

html, body {
    height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#content {
    font-family: bluejays;
    color: #134A8E;
    margin: 0 auto;
    background-image: url("../images/jays_logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
}

#inner-content {
    margin: 0 auto;
    display: flex;
    width: 800px;
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#soundboard-wrapper {
    text-align: center;
    min-width: 750px
}

#soundboard {
    margin: 0 auto;
}

#sound-control {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
}

#soundboard td {
    text-align: center;
    height: 35px;
}

#soundboard td button {
    height: 30px;
}

.sound-button {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #134A8E;
    background-color: white;
    border: 2px solid #134A8E;
    box-shadow: 1px 1px #235A9E;
    font-family: 'Roboto';
    cursor: pointer; cursor: hand;
}

#audio-icon {
    width: 20px;
    display: block;
    margin-top: 5px;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    display: block;
}
